@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}

menu {
    display: none;
}

article::after{
    content: 'Esse artico foi impresso para aula de media queries';
    font-size: 0.5em;
}